:root {
  --table-dark-blue: #1A2C38;
  --table-green: #016949;
  --table-header: #94989B;
  --chart-yellow: #EFC418;
  --chart-green: #18B572;
  --chart-white: #FEFEFF;

  --back-color: #0E202E;
  --hover-back-color: #061825;
}

.App {
  display: flex;

  height: 100%;
}